.language{
    float: right;
    background: #f8f9fa;
    color: #149898;
    border-radius: 4%;
    padding: 1px 7px;
}
.ov{
    height: 75px;
    overflow-y: scroll;
}
.btn_rating{
    padding:2px 11px;
}
.btnAddToCart{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
}